$cor_principal: rgba(255, 80, 0, 1);

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#structure {
    display: grid;
    grid-template-rows:auto 1fr auto;

}

#div_fundo {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vw;
    background-image: url(imagens/background_img.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}
#gradient_overlay {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));;
    z-index: 1;
    width: 100%;
}

#top_bar {
    display: flex;
    background-color: $cor_principal;
    padding: 10px;
    margin: 0;
    width: 100%;
}
#top_bar_text {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
}


header{
    position: absolute;
    z-index: 2;
    width: 100%;
}
#header_grid{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top : 1rem;
    gap: 1rem;
    
}
@media (min-width: 1200px) {
    #header_grid{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

#header_left {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    button{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 10px;
        
        #hamburguer_icon{
            max-width: 24px;
            max-height: 24px;
            
            .hamburguer_line{
                width: 24px;
                height: 4px;
                background-color: white;
                margin: 3px 0;
            }
        }
    }

}
#header_right {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    #content_header_right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        #content_header_right_grid{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;

            #chrg_a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: bold;

                #chrg_as1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                        width: 100%;
                        height: 100%;
                    }
                }
                @media (max-width: 900px) {
    
                    #chrg_as2{
                     display: none;
                    }
                }
                #chrg_as2{
                    white-space: nowrap;
                }
            }
            
            button{
                background: none;
                border: none;
                padding: 0;
                margin: 0;
            }

            #chrg_b1{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                color: white;
                height: 24px;

                #chrg_b1_s1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                    }
                }
                @media (max-width: 1200px) {
    
                    #chrg_b1_s2{
                     display: none;
                    }
                }

                #chrg_b1_s2{
                        flex-direction: row;
                        color:white;
                    
                }
            }
            #chrg_b2{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                color: white;
                height: 24px;

                #chrg_b2_s1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                    }
                }
                @media (max-width: 650px) {
    
                    #chrg_b2_s2{
                     display: none;
                    }
                }
                #chrg_b2_s2{
                    flex-direction: row;
                    color:white;
                
                }
        }
    }
}}

#form-container {
    position: absolute;
    display: flex;
    top:4rem;
    margin-left: 0;
    margin-right: 0;
    max-width: calc(100rem);
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}
@media (min-width: 650) {
    #form-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
}

#form-structure {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0.75rem;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 40px, rgba(0, 0, 0, 0.08) 0px 8px 32px;


}

#seletor-veiculo {
    display: flex;
    padding: 1rem;
    padding: 0px 0.75rem;
    
    #carros{
        flex-shrink: 0;
        margin: 0px calc(0.25rem);
        padding: 0.5rem 0.75rem;
        border-radius: 50vmin;
        -webkit-box-align: center;
        align-items: center;
        min-width: 2.25rem;
        position: relative;
        background-color: rgb(26,26,26);
        color: rgb(255,255,255);
        display: inline-flex;
        max-width: fit-content;
    
        #carros_icon{
            margin-right: 0.25rem;
            width: 1rem;
            height: 1rem;
            svg{
                fill: white;
                width: 100%;
                height: 100%;
            }
        }
        #carros_text{
            min-width: 0px;
            text-align: center;
            overflow-x: clip;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 0.25rem;
        }
    }
    #carrinhas{
        flex-shrink: 0;
        margin: 0px calc(0.25rem);
        padding: 0.5rem 0.75rem;
        border-radius: 50vmin;
        -webkit-box-align: center;
        align-items: center;
        min-width: 2.25rem;
        position: relative;
        color: rgb(26,26,26);
        display: inline-flex;
        max-width: fit-content;
    
        #carrinhas_icon{
            margin-right: 0.25rem;
            width: 1rem;
            height: 1rem;
            svg{
                fill: white;
                width: 100%;
                height: 100%;
            }
        }
        #carrinhas_text{
            min-width: 0px;
            text-align: center;
            overflow-x: clip;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 0.25rem;
        }
    }
}

@media (min-width: 900px) {
    #seletor-veiculo {
        padding: 0px 1.5rem;
    }
}

#form-content-structure {
    position: relative;
    margin: 0px auto;
    display: block;
}
