$cor_principal: rgba(255, 80, 0, 1);

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#structure {
    display: grid;
    grid-template-rows:auto 1fr auto;

}

#div_fundo {
    position: relative;
    max-width: 100%;
    height: auto;
    height: 50rem;
    background-image: url(imagens/background_img.jpg);
    background-repeat: no-repeat;
    background-size:contain;
}

#top_bar {
    display: flex;
    background-color: $cor_principal;
    padding: 10px;
    margin: 0;
    width: 100%;
}
#top_bar_text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}


header{
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0,2));
    z-index: 2;
    width: 100%;
}
#header_grid{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top : 1rem;
    gap: 1rem;
    
}
@media (min-width: 1200px) {
    #header_grid{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

#header_left {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    button{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 10px;
        
        #hamburguer_icon{
            max-width: 24px;
            max-height: 24px;
            
            .hamburguer_line{
                width: 24px;
                height: 4px;
                background-color: white;
                margin: 3px 0;
            }
        }
    }

}
#header_right {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    #content_header_right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        #content_header_right_grid{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;

            #chrg_a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: bold;

                #chrg_as1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                        width: 100%;
                        height: 100%;
                    }
                }

                #chrg_as2{
                    white-space: nowrap;
                }
            }
            
            button{
                background: none;
                border: none;
                padding: 0;
                margin: 0;
            }

            #chrg_b1{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                color: white;
                height: 24px;

                #chrg_b1_s1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                    }
                }

                #chrg_b1_s2{
                    flex-direction: row;
                    color:white;
                
                }
                
            }
            #chrg_b2{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                color: white;
                height: 24px;

                #chrg_b2_s1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                    }
                }

                #chrg_b2_s2{
                    flex-direction: row;
                    color:white;
                
                }
        }
    }
}}