$cor_principal: rgba(255, 80, 0, 1);

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

img, picture {
    max-width: 100%;
    display: block;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.icon{
            margin-right: 0.25rem;
            width: 1rem;
            height: 1rem;
            svg{
                fill: white;
                width: 100%;
                height: 100%;
            }
        }

#structure {
    display: grid;
    grid-template-rows:auto 1fr auto;

}

#img_fundo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

#div_fundo {
    position: relative;
    width: 100vw;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
#gradient_overlay {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01));;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: auto;
    max-width: 100%;
    display: block;
    z-index: 1;
}

#top_bar {
    display: flex;
    background-color: $cor_principal;
    padding: 10px;
    margin: 0;
    width: 100%;
}
#top_bar_text {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
}


header{
    position: absolute;
    z-index: 2;
    width: 100%;
}
#header_grid{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top : 1rem;
    gap: 1rem;
    
}
@media (min-width: 1200px) {
    #header_grid{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

#header_left {
    display: flex;
    align-items: center;
    padding-left: 1rem;

    button{
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 10px;
        
        #hamburguer_icon{
            max-width: 24px;
            max-height: 24px;
            
            .hamburguer_line{
                width: 24px;
                height: 4px;
                background-color: white;
                margin: 3px 0;
            }
        }
    }

}
#header_right {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    #content_header_right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        #content_header_right_grid{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;

            #chrg_a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: bold;

                #chrg_as1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                        width: 100%;
                        height: 100%;
                    }
                }
                @media (max-width: 900px) {
    
                    #chrg_as2{
                     display: none;
                    }
                }
                #chrg_as2{
                    white-space: nowrap;
                }
            }
            
            button{
                background: none;
                border: none;
                padding: 0;
                margin: 0;
            }

            #chrg_b1{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                color: white;
                height: 24px;

                #chrg_b1_s1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                    }
                }
                @media (max-width: 1200px) {
    
                    #chrg_b1_s2{
                     display: none;
                    }
                }

                #chrg_b1_s2{
                        flex-direction: row;
                        color:white;
                    
                }
            }
            #chrg_b2{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: bold;
                color: white;
                height: 24px;

                #chrg_b2_s1{
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;

                    svg{
                        fill: white;
                    }
                }
                @media (max-width: 650px) {
    
                    #chrg_b2_s2{
                     display: none;
                    }
                }
                #chrg_b2_s2{
                    flex-direction: row;
                    color:white;
                
                }
        }
    }
}}

#form-container {
    position: relative;
    display: block;
    top:4rem;
    margin-left: 0;
    margin-right: 0;
    max-width: calc(100rem);
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
}
@media (min-width: 650) {
    #form-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
}

#form-structure {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0.75rem;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 40px, rgba(0, 0, 0, 0.08) 0px 8px 32px;


}

#seletor-veiculo {
    display: flex;
    padding: 1rem;
    padding: 0px 0.75rem;
    
    #carros{
        flex-shrink: 0;
        margin: 0px calc(0.25rem);
        padding: 0.5rem 0.75rem;
        border-radius: 50vmin;
        -webkit-box-align: center;
        align-items: center;
        min-width: 2.25rem;
        position: relative;
        background-color: rgb(26,26,26);
        color: rgb(255,255,255);
        display: inline-flex;
        max-width: fit-content;
    
        #carros_text{
            min-width: 0px;
            text-align: center;
            overflow-x: clip;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 0.25rem;
        }
    }
    #carrinhas{
        flex-shrink: 0;
        margin: 0px calc(0.25rem);
        padding: 0.5rem 0.75rem;
        border-radius: 50vmin;
        -webkit-box-align: center;
        align-items: center;
        min-width: 2.25rem;
        position: relative;
        color: rgb(26,26,26);
        display: inline-flex;
        max-width: fit-content;
        
        #carrinhas_text{
            min-width: 0px;
            text-align: center;
            overflow-x: clip;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 0.25rem;
        }
    }
}

@media (min-width: 900px) {
    #seletor-veiculo {
        padding: 0px 1.5rem;
    }
}

#form-content-structure {
    position: relative;
    margin: 0px auto;
    display: block;
}

//-------------------------------------------------
@media (min-width: 1200px) {
    #below_fundo {
    width: 95%;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    }
}
@media (min-width: 650px) {
    #below_fundo {
    padding-left: 2rem;
    padding-right: 2rem;
    }
}

#structure_below_fundo {
    display: flex;
    justify-content: center;
    background-color: $cor_principal;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#below_fundo {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100rem);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

#content_below_fundo {
    margin-bottom: 0.5rem;
    text-align: center;

    #content_below_fundo_s1, #content_below_fundo_s2{
        overflow-wrap: break-word;
        text-transform: uppercase;
        letter-spacing: 0.0313em;
        font:900 3rem/1 "Roboto Condensed", RobotoCondensedArial,sans-serif;
    }
    @media (min-width: 780px) {
        #content_below_fundo_s1, #content_below_fundo_s2{
            font:900 3.5rem/1 "Roboto Condensed", RobotoCondensedArial,sans-serif;
        }
    }
    @media (min-width: 992px) {
        #content_below_fundo_s1, #content_below_fundo_s2{
            font:900 3.75rem/1 "Roboto Condensed", RobotoCondensedArial,sans-serif;
        }
    }
    @media (min-width: 650px) {
        #content_below_fundo_s1, #content_below_fundo_s2{
            font:900 3.75rem/1 "Roboto Condensed", RobotoCondensedArial,sans-serif;
            letter-spacing: 0.025em;
        }
        @media (min-width: 780px) {
        #content_below_fundo_s1, #content_below_fundo_s2{
            font:900 4.25rem/1 "Roboto Condensed", RobotoCondensedArial,sans-serif;
        }
        }
        @media (min-width: 992px) {
        #content_below_fundo_s1, #content_below_fundo_s2{
            font:900 4.5rem/1 "Roboto Condensed", RobotoCondensedArial,sans-serif;
        }
        }
    }

    #content_below_fundo_h1 {
        letter-spacing: 0.0067em;
        font:700 1rem/1.5 "Roboto Condensed", RobotoCondensedArial,sans-serif;
    }
}

#section_structure{
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100rem);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}
@media (min-width: 650px) {
    #section_structure{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}
@media (min-width: 900px) {
    #section_structure{
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
}

#section_content{
    --grid-columns: 12;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-gutter) / -2);
    --grid-gutter: 0.75rem;
}
@media (min-width: 650px) {
    #section_content{
        --grid-gutter: 1rem;
    }
    .section_card{
    padding-bottom: 0px;
    }
    .section_card_content{
        padding-right: 0.75rem;
        text-align: initial;
    }
}

.section_card{
    padding-bottom: 2.5rem;
    --grid-col-span: 12
}

.section_card_content{
    text-align: center;
}

.section_card_content_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.75rem;
}

@media (min-width:650px) {
    .section_card_content_top{
    justify-content: initial;
    margin: 0px 0px 0.75rem;
}
}

.card_icon{
    line-height: 0;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    display: block;
}

.card_icon svg{
    width: 100%;
    height: 100%;
    fill: rgb(26,26,26);
}

.section_card_content_top_text{
    color: rgb(26,26,26);
    letter-spacing: 0.0067em;
    font:700 1rem/1.5 "Roboto Condensed", RobotoCondensedArial,sans-serif;
}

.section_card_content_bottom{
    letter-spacing: 0.0125em;
    font:700 1.25rem/1.2 "Roboto Condensed", RobotoCondensedArial,sans-serif;
}

@media (min-width: 780px) {
    .section_card_content_bottom{
    font:700 1.375rem / 1.2 "Roboto Condensed", RobotoCondensedArial,sans-serif;
    }
}

@media (min-width: 992px) {
    .section_card_content_bottom{
    font:700 1.5rem / 1.2 "Roboto Condensed", RobotoCondensedArial,sans-serif;
    }
}

#cards_bottom{
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100rem);
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
}
@media (min-width: 650px) {
    #cards_bottom{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 3rem;
    }
    #cards_bottom_structure{
        --grid-gutter: 1rem;
    }
}
@media (min-width: 900px) {
    #cards_bottom{
        padding-bottom: 4rem;
    }
    #cards_bottom_structure_1{
        --grid-col-span: 12;
    }
}
@media (min-width: 1200px) {
    #cards_bottom{
        padding-bottom: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    #cards_bottom_structure{
        margin-bottom: -2.5rem;
        --grid-gutter: 1.5rem;
    }
    #cards_bottom_structure_1{
        margin-bottom: 2.5rem;
    }
}

#cards_bottom_structure{
    --grid-columns: 12;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-gutter) / -2);
    --grid-gutter: 0.75rem;
        margin-bottom: -1.5rem;
}

#cards_bottom_structure_1{
    margin-bottom: 1.5rem;
    --grid-col-span: var(--grid-columns);
    --grid-col-offset: 0;
    flex: 0 0 calc(var(--grid-col-span) / var(--grid-columns) * 100%);
    margin-left: calc(var(--grid-col-offset) / var(--grid-columns) * 100%);
    max-width: calc(var(--grid-col-span) / var(--grid-columns) * 100%);
    padding-left: calc(var(--grid-gutter) / 2);
    padding-right: calc(var(--grid-gutter) / 2);
}

#card_bottom_structure_1_img{
    height: 0px;
    overflow: hidden;
    border-radius: var(--border-radius-l, 0);
    position: relative;
    padding-top: 133.33%;
}

@media (min-width: 650px) {
    #card_bottom_structure_1_img{
        padding-top: 56.25%;
    }
}
@media (min-width: 900px) {
    #card_bottom_structure_1_img{
        padding-top: 42.86%;
    }
}

#img_carro1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}